mat-toolbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
 .logo {
   height: 40px;
   margin-right: 16px;
 }

.spacer {
  flex: 1 1 auto;
}

button {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
}

mat-icon {
  margin-bottom: -4px;
}

.ligne {
  background-color: rgb(19, 10, 10);
  border: 1px solid rgba(19, 10, 10, 0.76);
  height: 1px;
  width: 100%;
  margin-top: 16px;
  position: fixed;
  top: 48px;
  z-index: 999;
margin-left: 70px;
}

.mobile-menu {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.nav-text {
  font-size: 12px;
}

@media (max-width: 768px) {
  mat-toolbar {
    width: 90%;
    padding: 0 8px;
  }

  .menu-button {
    display: block;
  }
  .ligne {
    width:80%;
    margin-left:15px;
  }
  .nav-buttons {
    display: none;
  }

  .logo {
    height: 35px;
  }
}

@media (min-width: 769px) {
  .menu-button {
    display: none;
  }

  .nav-buttons {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }
  .ligne {

    width:90%
  }
  .mat-toolbar {
    padding: 0 24px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .logo {
    height: 35px;
    margin-right: 8px;
  }



  .nav-buttons {
    display: flex;
    justify-content: space-around;
  }

  .menu-button {
    display: none;
  }

  button {
    padding: 8px;
  }



  mat-icon {
    margin-bottom: -2px;
  }
}

