<div class="container mt-4">
  <!-- Search Form -->
  <div class="annonce-search-form">
    <form (ngSubmit)="searchAnnonces()">
      <!-- Title or Description -->
      <div class="form-group">
        <label for="titleOrDescription">Titre ou Description</label>
        <input type="text" class="form-control" id="titleOrDescription" [(ngModel)]="searchQuery.titleOrDescription" name="titleOrDescription" placeholder="Recherche par titre ou description">
      </div>

      <!-- Category -->
      <div class="form-group">
        <label for="category">Catégorie</label>
        <select class="form-control" id="category" [(ngModel)]="searchQuery.category" name="category">
          <option *ngFor="let key of categorieKeys" [value]="Categorie[key]">{{ key }}</option>
        </select>
      </div>

      <!-- Price Minimum -->
      <div class="form-group">
        <label for="priceMin">Prix Minimum</label>
        <input type="number" class="form-control" id="priceMin" [(ngModel)]="searchQuery.priceMin" name="priceMin" placeholder="0">
      </div>

      <!-- Price Maximum -->
      <div class="form-group">
        <label for="priceMax">Prix Maximum</label>
        <input type="number" class="form-control" id="priceMax" [(ngModel)]="searchQuery.priceMax" name="priceMax" placeholder="10000">
      </div>

      <!-- Button Group -->
      <div class="d-flex justify-content-between mt-3">
        <button type="submit" class="btn btn-primary">Rechercher</button>
        <button type="button" class="btn btn-danger" (click)="resetSearch()">Annuler</button>
      </div>
    </form>
  </div>

  <!-- Annonce List -->
  <h2 class="text-center my-4">All Annonces</h2>
  <div class="row">
    <div *ngFor="let annonce of annonces" class="col-md-4 mb-4">
      <div class="card">
        <img [src]="annonce.images[0]" class="card-img-top" alt="Annonce Image">
        <div class="card-body">
          <h5 class="card-title">{{ annonce.title }}</h5>
          <p class="card-text">{{ annonce.description }}</p>
          <p class="card-text">
            <strong>Price:</strong> {{ annonce.price }} USD<br>
            <strong>Category:</strong> {{ annonce.category }}<br>
            <strong>Disponibility:</strong> {{ annonce.disponibilite }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
