<div class="annonce-details-container" *ngIf="annonce">
  <h2>Détails de l'annonce</h2>

  <div class="annonce-detail">
    <h3>{{ annonce.title }}</h3>
    <p><strong>Vendeur :</strong> {{ annonce.vendeurName }} ({{ annonce.vendeurEmail }})</p>
    <p><strong>Prix :</strong> {{ annonce.price }} Dhs</p>
    <p><strong>Description :</strong> {{ annonce.description }}</p>
    <p><strong>Catégorie :</strong> {{ annonce.category }}</p>
    <p><strong>Disponibilité :</strong> {{ annonce.disponibilite }}</p>
    <p><strong>Date de création :</strong> {{ annonce.creationDate | date: 'short' }}</p>
    <div class="annonce-images">
      <div *ngFor="let img of annonce.images">
        <img [src]="img" alt="{{ annonce.title }}" />
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="backToList()">Retour aux annonces</button>
  </div>
</div>
