<main class="main-content position-relative border-radius-lg">
  <mat-toolbar color="primary" class="navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl">
    <div class="container-fluid py-1 px-3">
      <span class="font-weight-bolder text-white mb-0">Dashboard</span>
    </div>
  </mat-toolbar>

  <div class="container-fluid py-4">
    <div class="row" style="display: flex">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <mat-card class="card">
          <mat-card-content class="p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Annonces</p>
                  <h5 class="font-weight-bolder">{{ totalAnnonces }} annonces</h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                  <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <mat-card class="card">
          <mat-card-content class="p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Users</p>
                  <h5 class="font-weight-bolder">{{ totalUsers }} utilisateurs</h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                  <i class="ni ni-circle-08 text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <!-- Section for the chart -->
    <div class="chart-container">
      <h5 class="font-weight-bolder">Répartition des Annonces par Catégorie</h5>
      <canvas id="categoryChart"></canvas>
    </div>
  </div>
</main>
