<main class="main-content position-relative border-radius-lg">


  <div class="container-fluid py-4">
    <div class="row" style="display: flex; justify-content: space-around">
      <!-- Total Annonces Card -->
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <mat-card class="small-card">
          <mat-card-content class="p-3" style="height: 160px">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Annonces</p>
                  <h5 class="font-weight-bolder">{{ totalAnnonces }} annonces</h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape shadow-primary text-center">
                  <mat-icon style="color: black" class="text-lg opacity-10">attach_money</mat-icon>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Total Users Card -->
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <mat-card class="small-card" >
          <mat-card-content class="p-3" style="height: 160px" >
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Users</p>
                  <h5 class="font-weight-bolder">{{ totalUsers }} utilisateurs</h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape shadow-warning text-center">
                  <mat-icon style="color: black" class="text-lg opacity-10">people</mat-icon>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Total Livreurs Card -->
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <mat-card class="small-card">
          <mat-card-content class="p-3" style="height: 160px">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold">Total livreurs</p>
                  <h5 class="font-weight-bolder">{{ totalLivreurs }} livreurs</h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape shadow-success text-center">
                  <mat-icon style="color: black" class="text-lg opacity-10">delivery_dining</mat-icon>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>


    <div class="dashboard-container">
      <div class="chart-container">
        <h5 class="font-weight-bolder">Répartition des Annonces par Catégorie</h5>
        <canvas id="categoryChart"></canvas>
      </div>
      <div class="image-carousel">
        <div class="image-wrapper">
          <img *ngIf="annonces.length > 0"
               [src]="annonces[currentImageIndex]?.images"
               alt="Annonce"
          />
          <p class="vendor-name">{{ annonces[currentImageIndex]?.vendeurName }}</p>
        </div>
      </div>
    </div>

    <div class="tables-container">
      <div class="col-6">
        <mat-card>
          <mat-card-header style="display: flex; justify-content: space-between">
            <mat-card-title style="color: #ff7b00;">Liste des livreurs</mat-card-title>
            <button mat-raised-button color="primary"  style="margin-top: -10px;margin-bottom: 10px" (click)="openAddLivreurDialog()">Add Livreur</button>
          </mat-card-header>
          <mat-card-content>
            <table mat-table [dataSource]="livreurs" class="mat-elevation-z8">
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Nom de livreurs</th>
                <td mat-cell *matCellDef="let livreur">{{ livreur.username }}</td>
              </ng-container>


              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let livreur">{{ livreur.email }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Liste des utilisateurs -->
      <div class="col-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title style="color: #ff7b00;">Liste des utilisateurs</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table mat-table [dataSource]="users" class="mat-elevation-z8">
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Nom d'utilisateur</th>
                <td mat-cell *matCellDef="let user">{{ user.username }}</td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let user">{{ user.email }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</main>
