.div {
  display: flex;
  flex-direction: column;
  width: 1216px;
  margin-top: -50px;
}
.div-2 {
  display: flex;
  padding-left: 35px;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    padding-left: 20px;
  }
}
.info-box {
  align-self: end;
  margin-right: 35px;
  max-width: 1282px;
}
@media (max-width: 991px) {
  .info-box {
    max-width: 100%;
    margin-right: 10px;
  }
}
.div-3 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .div-3 {
    flex-direction: column;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-4 {
  background-color: rgba(64, 123, 147, 1);
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  color: var(--White, #fff);
  padding: 30px 30px 52px;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.consultation-pour-vente-d-articles-d-occasion {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  align-self: start;
}
.decouvrez-comment-maximiser-vos-ventes-et-trouver-des-tresors-doccasion-avec-occa-place {
  font-size: 17px;
  font-weight: 400;
  margin-top: 22px;
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-5 {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  color: #407b93;
  padding: 30px 22px 52px;
}
@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.vendez-et-achetez-en-toute-securite-avec-occa-place {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  align-self: start;
}
@media (max-width: 991px) {
  .vendez-et-achetez-en-toute-securite-avec-occa-place {
    margin-left: 8px;
  }
}
.gerez-vos-annonces-facilement-effectuez-des-paiements-securises-et-suivez-vos-livraisons-sans-souci {
  font-size: 17px;
  font-weight: 400;
  margin-top: 22px;
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-6 {
  background-color: rgba(64, 123, 147, 1);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  color: var(--White, #fff);
  padding: 30px 26px 52px;
}
@media (max-width: 991px) {
  .div-6 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.occa-place-simplifiez-vos-transactions {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  width: 343px;
}
.creez-recherchez-et-gerez-vos-annonces-rapidement-grace-a-notre-interface-conviviale {
  font-size: 17px;
  font-weight: 400;
  margin-top: 22px;
}
.div-7 {
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 991px) {
  .div-7 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-8 {
  display: flex;
}
@media (max-width: 991px) {
  .div-8 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .about-block {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .div-9 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-5 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 991px) {
  .column-5 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .img {
    max-width: 100%;
    margin-top: 30px;
  }
}
.column-6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .column-6 {
    width: 100%;
  }
}
.div-10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: start;
  line-height: normal;
  width: 45%;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .div-10 {
    max-width: 100%;
    margin: 40px -3px 0 0;
    width: 1216px;
  }
}
.qui-nous-sommes {
  color: var(--Primary, #757575);
  letter-spacing: 1.19px;
  text-transform: uppercase;
  font: 900 17px Poppins, sans-serif;
  margin-bottom:30px
}
.nous-simplifions-vos-transactions-doccasion-avec-une-plateforme-fiable-et-conviviale-profitez-dune-experience-securisee-et-fluide-pour-acheter-et-vendre-vos-articles {
  color: var(--Paragraph-Color, #6e6e6e);
  margin-top: 60px;
  font: 600 20px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .nous-simplifions-vos-transactions-doccasion-avec-une-plateforme-fiable-et-conviviale-profitez-dune-experience-securisee-et-fluide-pour-acheter-et-vendre-vos-articles {
    margin-top: 40px;
  }
}
.div-11 {
  display: flex;
  margin-top: 57px;
  gap: 15px;
}
@media (max-width: 991px) {
  .div-11 {
    margin-top: 40px;
  }
}
. {
  color: var(--Primary, #757575);
  font: 900 20px Font Awesome 5 Free, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.simplicite-d-utilisation-✔️ {
  color: var(--Paragraph-Color, #6e6e6e);
  flex-basis: auto;
  font: 400 17px Poppins, sans-serif;
}
.div-12 {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}
.transactions-securisees-✔️ {
  color: var(--Paragraph-Color, #6e6e6e);
  flex-basis: auto;
  font: 400 17px Poppins, sans-serif;
}
.div-13 {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}
.satisfaction-client-✔️ {
  color: var(--Paragraph-Color, #6e6e6e);
  flex-basis: auto;
  font: 400 17px Poppins, sans-serif;
}
.column-7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-7 {
    width: 100%;
  }
}
.lequipe-ideale-pour-votre-achat-et-vente-darticles-doccasion {
  color: var(--Heading-Color, #1b1717);
  letter-spacing: 3.15px;
  text-transform: uppercase;
  font: 800 25px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .lequipe-ideale-pour-votre-achat-et-vente-darticles-doccasion {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
  }
}
.comment-nous-fonctionnons {
  color: #407b93;
  letter-spacing: 1.19px;
  text-transform: uppercase;
  margin: 130px 0 0 15px;
  font: 900 17px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .comment-nous-fonctionnons {
    margin: 40px 0 0 10px;
  }
}
.notre-procedure-de-travail {
  color: var(--Heading-Color, #1b1717);
  letter-spacing: 3.15px;
  text-transform: uppercase;
  margin: 15px 0 0 15px;
  font: 900 45px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .notre-procedure-de-travail {
    max-width: 100%;
    font-size: 40px;
  }
}
.div-14 {
  max-width: 1340px;
  margin: 64px 0 0 15px;
}
@media (max-width: 991px) {
  .div-14 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-15 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-15 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.div-16 {
  border: 1px solid var(--Border, #dadada);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: start;
  font-family: Poppins, sans-serif;
  font-weight: 900;
  padding: 30px 30px 4px;
}
@media (max-width: 991px) {
  .div-16 {
    max-width: 100%;
    margin-top: 30px;
    padding: 0 20px;
  }
}
. {
  color: #407b93;
  font: 45px Font Awesome 5 Free, sans-serif;
}
@media (max-width: 991px) {
  . {
    font-size: 40px;
  }
}
.consultation-client-pour-les-annonces {
  color: var(--Heading-Color, #1b1717);
  font-size: 25px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-top: 30px;
}
.nous-discutons-avec-vous-pour-comprendre-vos-besoins-et-attentes-concernant-la-vente-ou-lachat-darticles-doccasion {
  color: var(--Paragraph-Color, #6e6e6e);
  font-size: 17px;
  font-weight: 400;
  align-self: stretch;
  margin-top: 15px;
}
.column-8 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-8 {
    width: 100%;
  }
}
.div-17 {
  background-color: rgba(64, 123, 147, 1);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  color: var(--White, #fff);
  font-weight: 900;
  padding: 30px 30px 4px;
}
@media (max-width: 991px) {
  .div-17 {
    max-width: 100%;
    margin-top: 30px;
    padding: 0 20px;
  }
}
. {
  align-self: start;
  font: 45px Font Awesome 5 Free, sans-serif;
}
@media (max-width: 991px) {
  . {
    font-size: 40px;
  }
}
.creation-et-validation-des-annonces {
  font-size: 25px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-top: 30px;
}
.nous-vous-aidons-a-creer-des-annonces-attrayantes-et-efficaces-pour-vos-articles-avec-des-options-de-previsualisation-et-de-modification {
  font-size: 17px;
  font-weight: 400;
  margin-top: 15px;
}
.column-9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-9 {
    width: 100%;
  }
}
.div-18 {
  border: 1px solid var(--Border, #dadada);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: start;
  font-family: Poppins, sans-serif;
  font-weight: 900;
  padding: 30px 30px 4px;
}
@media (max-width: 991px) {
  .div-18 {
    max-width: 100%;
    margin-top: 30px;
    padding: 0 20px;
  }
}
. {
  color: #407b93;
  font: 45px Font Awesome 5 Free, sans-serif;
}
@media (max-width: 991px) {
  . {
    font-size: 40px;
  }
}
.gestion-des-transactions {
  color: var(--Heading-Color, #1b1717);
  font-size: 25px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-top: 30px;
  width: 366px;
}
.nous-facilitons-la-gestion-des-transactions-securisees-et-le-suivi-des-livraisons-pour-assurer-une-experience-utilisateur-fluide-et-satisfaisante {
  color: var(--Paragraph-Color, #6e6e6e);
  font-size: 17px;
  font-weight: 400;
  align-self: stretch;
}
.portfolio {
  margin-top: 129px;
  max-width: 1340px;
}
@media (max-width: 991px) {
  .portfolio {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-19 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-19 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-10 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-10 {
    width: 100%;
  }
}
.div-20 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  font-family: Poppins, sans-serif;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-20 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.optimisez-vos-achats-et-ventes-avec-occa-place {
  color: var(--Heading-Color, #1b1717);
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 3.15px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .optimisez-vos-achats-et-ventes-avec-occa-place {
    max-width: 100%;
    font-size: 40px;
  }
}
.chez-occa-place-nous-transformons-le-marche-des-articles-doccasion-en-offrant-une-experience-fluide-et-securisee-explorez-notre-plateforme-pour-trouver-des-produits-de-qualite-et-gerez-vos-transactions-en-toute-simplicite {
  color: var(--Paragraph-Color, #6e6e6e);
  font-size: 17px;
  font-weight: 400;
  margin-top: 15px;
}
@media (max-width: 991px) {
  .chez-occa-place-nous-transformons-le-marche-des-articles-doccasion-en-offrant-une-experience-fluide-et-securisee-explorez-notre-plateforme-pour-trouver-des-produits-de-qualite-et-gerez-vos-transactions-en-toute-simplicite {
    max-width: 100%;
  }
}
.column-11 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-11 {
    width: 100%;
  }
}
.img-2 {
  aspect-ratio: 0.99;
  object-fit: contain;
  object-position: center;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img-2 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.why-choice-us {
  margin-top: 154px;
}
@media (max-width: 991px) {
  .why-choice-us {
    max-width: 100%;
    margin: 40px 3px 0 0;
  }
}
.div-21 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-21 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-12 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-12 {
    width: 100%;
  }
}
.img-3 {
  aspect-ratio: 1.47;
  object-fit: contain;
  object-position: center;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img-3 {
    max-width: 100%;
    margin-top: 30px;
  }
}
.column-13 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-13 {
    width: 100%;
  }
}
.div-22 {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 71px -51px 0 0;
}
@media (max-width: 991px) {
  .div-22 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.pourquoi-choisir-occa-place-pour-vos-transactions-d-occasion {
  color: var(--Heading-Color, #1b1717);
  letter-spacing: 2.8px;
  text-transform: uppercase;
  font: 900 40px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .pourquoi-choisir-occa-place-pour-vos-transactions-d-occasion {
    max-width: 100%;
  }
}
.decouvrez-les-avantages-de-notre-plateforme-dediee-aux-articles-doccasion {
  color: var(--Paragraph-Color, #6e6e6e);
  align-self: stretch;
  margin-top: 7px;
  font: 400 17px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .decouvrez-les-avantages-de-notre-plateforme-dediee-aux-articles-doccasion {
    max-width: 100%;
  }
}
.div-23 {
  display: flex;
  margin-top: 28px;
  gap: 15px;
}
.-2 {
  color: #407b93;
  font: 900 20px Font Awesome 5 Free, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.div-24 {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}
.-3 {
  color: #407b93;
  font: 900 20px Font Awesome 5 Free, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.interface-conviviale-✔️ {
  color: var(--Paragraph-Color, #6e6e6e);
  flex-basis: auto;
  font: 400 17px Poppins, sans-serif;
}
.div-25 {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}
.-4 {
  color: #407b93;
  font: 900 20px Font Awesome 5 Free, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.support-client-reactif-✔️ {
  color: var(--Paragraph-Color, #6e6e6e);
  flex-basis: auto;
  font: 400 17px Poppins, sans-serif;
}
.testimonial {
  align-self: center;
  margin-top: 117px;
  max-width: 1340px;
  padding-top: 22px;
}
@media (max-width: 991px) {
  .testimonial {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-26 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-26 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-14 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-14 {
    width: 100%;
  }
}
.div-27 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  font-family: Poppins, sans-serif;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-27 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.ce-que-nos-utilisateurs-disent-de-nous {
  color: var(--Heading-Color, #1b1717);
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .ce-que-nos-utilisateurs-disent-de-nous {
    max-width: 100%;
  }
}
.voici-quelques-temoignages-de-nos-clients-satisfaits {
  color: var(--Paragraph-Color, #6e6e6e);
  font-size: 17px;
  font-weight: 400;
  align-self: start;
  margin-top: 31px;
}
@media (max-width: 991px) {
  .voici-quelques-temoignages-de-nos-clients-satisfaits {
    max-width: 100%;
  }
}
.column-15 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-15 {
    width: 100%;
  }
}
.div-28 {
  border: 1px solid var(--Border, #dadada);
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: Poppins, sans-serif;
  margin: 0 auto;
  padding: 50px 30px 30px;
}
@media (max-width: 991px) {
  .div-28 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-29 {
  display: flex;
  gap: 15px;
  color: var(--Rating-Color, #3f3f3f);
  white-space: nowrap;
  text-align: center;
  font: 900 20px Font Awesome 5 Free, -apple-system, Roboto, Helvetica,
  sans-serif;
}
@media (max-width: 991px) {
  .div-29 {
    white-space: initial;
  }
}
. {
  flex-grow: 1;
}
.occa-place-a-rendu-la-vente-de-mes-articles-doccasion-tellement-plus-facile-et-sure-je-recommande-vivement {
  color: var(--Paragraph-Color, #6e6e6e);
  font-size: 17px;
  font-weight: 400;
  align-self: stretch;
  margin-top: 17px;
}
@media (max-width: 991px) {
  .occa-place-a-rendu-la-vente-de-mes-articles-doccasion-tellement-plus-facile-et-sure-je-recommande-vivement {
    max-width: 100%;
  }
}
.div-30 {
  display: flex;
  margin-top: 23px;
  gap: 15px;
  text-transform: uppercase;
}
.image-placeholder {
  background-color: rgba(196, 196, 196, 1);
  border-radius: 50%;
  display: flex;
  width: 85px;
  height: 85px;
}
.div-31 {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.ilham-jalal {
  color: var(--Heading-Color, #1b1717);
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 1.19px;
  align-self: start;
}
.utilisateur-satisfait {
  color: #407b93;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-top: 5px;
}
