<div class="sidenav-header d-flex align-items-center mb-4">
  <img src="assets/OccaPlace_Logo__2_-removebg-preview.png" alt="Logo" class="navbar-brand-img">
  <span class="brand-title ms-2">Dashboard</span>
</div>

<mat-divider></mat-divider>

<mat-nav-list>
  <a mat-list-item routerLink="/dashboard/main" routerLinkActive="active" class="nav-link">
    <mat-icon class="me-3">dashboard</mat-icon>
    <span>Dashboard</span>
  </a>

  <a mat-list-item routerLink="/dashboard/annoncesList" routerLinkActive="active" class="nav-link">
    <mat-icon class="me-3">event</mat-icon>
    <span>Annonces</span>
  </a>


  <a mat-list-item routerLink="/livraison" routerLinkActive="active" class="nav-link">
    <mat-icon class="me-3">local_shipping</mat-icon>
    <span>Livraison</span>
  </a>
</mat-nav-list>

<div class="mt-auto logout-section">
  <a mat-list-item routerLink="/logout" routerLinkActive="active" class="nav-link logout">
    <mat-icon class="me-3">logout</mat-icon>
    <span>Logout</span>
  </a>
</div>
