<div class="hero">
<div class="div-6">
  <div class="div-7">
    <div class="column" >
      <div class="div-8">
        <div class="bienvenue-sur-occa-place">Bienvenue sur OccaPlace</div>
        <div class="achetez-et-vendez-en-toute-confiance-sur-occa-place">
          Achetez et vendez en toute confiance sur OccaPlace
        </div>
        <div class="se-connecter-2">SE CONNECTER</div>
      </div>
    </div>
    <div class="column-2">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b61f70d0ab52be36649ab82e6e04677bd170caf91d274ce71c95e129ddbe62dc?placeholderIfAbsent=true&apiKey=7f8181b23c8a4bcfb826b495ba2e5afa"
        class="img-4"
      />
    </div>
  </div>
</div>
</div>

