.div {
  display: flex;
  flex-direction: column;
  width: 94%;
  margin-top: -50px;
}
.div-2 {
  display: flex;
  padding-left: 35px;
  flex-direction: column;
  align-items: start;
}

.info-box {
  align-self: end;
  margin-right: 35px;
  max-width: 100%;
  display: flex;
}


.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
}

.div-4 {
  background-color: rgb(19, 10, 10);
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  color: #fff;
  padding: 30px 30px 30px;
}

.consultation-pour-vente-d-articles-d-occasion {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  align-self: start;
}
.decouvrez-comment-maximiser-vos-ventes-et-trouver-des-tresors-doccasion-avec-occa-place {
  font-size: 17px;
  font-weight: 300;
  margin-top: 22px;
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}

.div-5 {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  border: 1px solid black;
  flex-grow: 1;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  color: #130a0a;
  padding: 30px 30px 30px;
}

.vendez-et-achetez-en-toute-securite-avec-occa-place {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  align-self: start;
}

.gerez-vos-annonces-facilement-effectuez-des-paiements-securises-et-suivez-vos-livraisons-sans-souci {
  font-size: 17px;
  font-weight: 300;
  margin-top: 22px;
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}

.div-6 {
  background-color: rgb(19, 10, 10);
  display: flex;
  border: 1px solid black;
  flex-grow: 1;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  color:  #fff;
  padding: 30px 30px 30px;
}
.occa-place-simplifiez-vos-transactions {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  width: 343px;
}
.creez-recherchez-et-gerez-vos-annonces-rapidement-grace-a-notre-interface-conviviale {
  font-size: 17px;
  font-weight: 300;
  margin-top: 22px;
}
.div-7 {
  margin: 60px 0 -60px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.div-8 {
  display: flex;
}

.column-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
}




.column-5 {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.column-6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 50px;
}

.div-10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: start;
  line-height: normal;
  width: 45%;
  margin-left: 50px;
}

.qui-nous-sommes {
  color: #757575;
  letter-spacing: 1.19px;
  text-transform: uppercase;
  font: 900 17px Poppins, sans-serif;
  margin-bottom:20px
}
.nous-simplifions-vos-transactions-doccasion-avec-une-plateforme-fiable-et-conviviale-profitez-dune-experience-securisee-et-fluide-pour-acheter-et-vendre-vos-articles {
  color:  #6e6e6e;
  margin-top: 40px;
  font: 500 22px Poppins, sans-serif;
}

.div-11 {
  display: flex;
  margin-top: 57px;
  gap: 15px;
}
.simplicite-d-utilisation-✔️ {
  color: #6e6e6e;
  flex-basis: auto;
  font: 400 17px Poppins, sans-serif;
}
.div-12 {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}
.transactions-securisees-✔️ {
  color: #6e6e6e;
  flex-basis: auto;
  font: 400 17px Poppins, sans-serif;
}
.div-13 {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}
.satisfaction-client-✔️ {
  color: #6e6e6e;
  flex-basis: auto;
  font: 400 17px Poppins, sans-serif;
}
.column-7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}

.lequipe-ideale-pour-votre-achat-et-vente-darticles-doccasion {
  color: #1b1717;
  letter-spacing: 3.15px;
  text-transform: uppercase;
  font: 1000 30px Poppins, sans-serif;
}

.comment-nous-fonctionnons {
  color: #757575;
  letter-spacing: 1.19px;
  text-transform: uppercase;
  margin: 130px 0 0 15px;
  font: 900 17px Poppins, sans-serif;
}

.notre-procedure-de-travail {
  color:  #1b1717;
  letter-spacing: 3.15px;
  text-transform: uppercase;
  margin: 5px 0 0 15px;
  font: 900 35px Poppins, sans-serif;
}

.div-14 {
  max-width: 1340px;
  margin: 15px 0 0 15px;
  display: flex;
}

.div-16 {
  border: 1px solid #dadada;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  padding: 20px 30px 20px;
}

.consultation-client-pour-les-annonces {
  color: #1b1717;
  font-size: 20px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-top: 20px;
}
.nous-discutons-avec-vous-pour-comprendre-vos-besoins-et-attentes-concernant-la-vente-ou-lachat-darticles-doccasion {
  color:  #6e6e6e;
  font-size: 15px;
  font-weight: 300;
  align-self: stretch;
  margin-top: 15px;
}
.column-8 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}

.div-17 {
  background-color: rgb(19, 10, 10);
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  color:  #fff;
  font-weight: 700;
  padding: 20px 30px 20px;
}
.creation-et-validation-des-annonces {
  font-size: 20px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-top: 20px;
}
.nous-vous-aidons-a-creer-des-annonces-attrayantes-et-efficaces-pour-vos-articles-avec-des-options-de-previsualisation-et-de-modification {
  font-size: 15px;
  font-weight: 300;
  margin-top: 15px;
}
.column-9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}

.div-18 {
  border:1px solid rgba(19, 10, 10, 0.15);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: start;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  padding: 30px 30px 4px;
}

.gestion-des-transactions {
  color:#1b1717;
  font-size: 20px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-top: 20px;
  width: 366px;
}
.nous-facilitons-la-gestion-des-transactions-securisees-et-le-suivi-des-livraisons-pour-assurer-une-experience-utilisateur-fluide-et-satisfaisante {
  color: #6e6e6e;
  font-size: 15px;
  font-weight: 300;
  margin-top: 26px;
}

.div-19 {
  display: flex;
  max-width: 100%;
  margin-top: 20px;

}

.column-10 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}

.div-20 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  font-family: Poppins, sans-serif;
  margin: auto 0;
}

.optimisez-vos-achats-et-ventes-avec-occa-place {
  color: #1b1717;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 3.15px;
  text-transform: uppercase;
}

.chez-occa-place-nous-transformons-le-marche-des-articles-doccasion-en-offrant-une-experience-fluide-et-securisee-explorez-notre-plateforme-pour-trouver-des-produits-de-qualite-et-gerez-vos-transactions-en-toute-simplicite {
  color: #6e6e6e;
  font-size: 17px;
  font-weight: 400;
  margin-top: 15px;
}

.column-11 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

.img-2 {
  aspect-ratio: 0.99;
  object-fit: contain;
  object-position: center;
  flex-grow: 1;
}

.why-choice-us {
  margin-top: 40px;
  display: flex;
  width: 100%;
}

.column-12 {
  display: flex;
  flex-direction: column;
  width: 50%;

}

.img-3 {
  aspect-ratio: 1.47;
  object-fit: contain;
  object-position: center;
  flex-grow: 1;
}

.column-13 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-top: 4px;
  margin-left: 20px;
}

.div-22 {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 71px -51px 0 0;
}

.pourquoi-choisir-occa-place-pour-vos-transactions-d-occasion {
  color: #1b1717;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  font: 800 30px Poppins, sans-serif;
}

.decouvrez-les-avantages-de-notre-plateforme-dediee-aux-articles-doccasion {
  color: #6e6e6e;
  align-self: stretch;
  margin-top: 7px;
  font: 400 17px Poppins, sans-serif;
}

.div-23 {
  display: flex;
  margin-top: 28px;
  gap: 15px;
}

.div-24 {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}

.interface-conviviale-✔️ {
  color: #6e6e6e;
  flex-basis: auto;
  font: 400 17px Poppins, sans-serif;
}
.div-25 {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}

.support-client-reactif-✔️ {
  color: #6e6e6e;
  flex-basis: auto;
  font: 400 17px Poppins, sans-serif;
}
