.annonce-container {
  width: 100%;
}

.annonce-container h1 {
  text-align: center;
  margin-bottom: 20px;
}
.search-container {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.annonce-search-form {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.annonce-search-form form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.annonce-search-form p {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.annonce-search-form .mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.annonce-search-form .mat-form-field .mat-form-field-infix {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.annonce-search-form .mat-form-field .mat-input-element {
  padding: 8px;
  background-color: transparent;
  border: none;
}

.annonce-search-form .mat-form-field-appearance-fill .mat-form-field-outline {
  display: none;
}

.annonce-search-form .button-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.annonce-search-form button {
  flex: 1;
  margin: 0 10px;
}

@media (max-width: 600px) {
  .search-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
 .search-form{
   display: flex;
   flex-direction: column;
 }
  .annonce-search-form {
    padding: 10px 0;
    flex-direction: column;
  }

  .annonce-search-form .button-group {
    flex-direction: column;

  }
  .annonce-search-form form{
  }
  .annonce-search-form button {
    margin: 5px 0;
    flex-direction: column;
  }
}
.annonces-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 40px auto;
  width: 95%;
}

.annonces-list .annonce-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  height: 300px;
}

.annonces-list .annonce-card .annonce-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.annonces-list .annonce-card .background1 {
  flex-grow: 1;
  margin: -30px 2px 0;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative;
  height: 100px;

}

.annonces-list .annonce-card .annonce-details {
  margin-top: 5px;
  padding-left: 1px;
}

.annonces-list .annonce-card .annonce-details h3 {
  font: 700 10px 'Poppins', sans-serif;
  text-transform: uppercase;
}

.annonces-list .annonce-card .annonce-details p {
  font: 600 10px 'Poppins', sans-serif;
}

.annonces-list .annonce-card .annonce-actions {
  margin-top: 20px;

}

.annonces-list .annonce-card .annonce-actions .btn-details {
  background-color: #ff7b00;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.annonces-list .annonce-card .annonce-icons {
  position: absolute;
  top: -270px;
  right: -10px;
}

.annonces-list .annonce-card .annonce-icons i {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.annonces-list .annonce-card .annonce-icons i:hover img {
  filter: brightness(0) saturate(100%) invert(39%) sepia(87%) saturate(749%) hue-rotate(331deg) brightness(93%) contrast(101%);
}

.annonces-list .annonce-card .annonce-icons i.icon-heart img {
  width: 32px;
  height: auto;
  transition: filter 0.3s ease-in-out;
}
.div {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: -50px;
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.column {
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-2 {
  display: flex;
  margin-top: 130px;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  line-height: normal;
  width: 50%;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.Partenaire-Idéal {
  color: #407B93;
  letter-spacing: 1.19px;
  text-transform: uppercase;
  font: 900 17px Poppins, sans-serif;
  margin-bottom: 20px;
}
.nous-donnons-la-priorite-a-la-mode-durable {
  color: #1b1717;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin-right: 28px;
}
@media (max-width: 991px) {
  .nous-donnons-la-priorite-a-la-mode-durable {
    max-width: 100%;
    margin-right: 10px;
  }
}
.decouvrez-une-selection-unique-de-vetements-de-seconde-main-soigneusement-choisis-pour-vous-chez-occa-place-nous-croyons-en-leconomie-circulaire-et-a-la-qualite-a-petit-prix-pour-que-vous-puissiez-vous-habiller-tout-en-preservant-lenvironnement {
  color: #6e6e6e;
  font-size: 17px;
  font-weight: 400;
  margin-top: 54px;
}
@media (max-width: 991px) {
  .decouvrez-une-selection-unique-de-vetements-de-seconde-main-soigneusement-choisis-pour-vous-chez-occa-place-nous-croyons-en-leconomie-circulaire-et-a-la-qualite-a-petit-prix-pour-que-vous-puissiez-vous-habiller-tout-en-preservant-lenvironnement {
    max-width: 100%;
    margin-top: 40px;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
    margin-left: -15px;
    margin-bottom: 60px;
  }
}
.img {
  height: 80%;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .img {
    max-width: 100%;
    margin-top: 40px;
    margin-left: 0;
  }
}
