<mat-toolbar color="primary">
  <img src="assets/OccaPlace_Logo__2_-removebg-preview.png" alt="OccaPlace Logo" class="logo">
  <span class="spacer"></span>
  <a mat-icon-button (click)="toggleMenu()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </a>
  <div class="nav-items" [class.show-menu]="showMenu">
    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      <span>ACCUEIL</span>
    </button>
    <button mat-button routerLink="/annonces">
      <mat-icon>announcement</mat-icon>
      <span>ANNONCES</span>
    </button>
    <button mat-button routerLink="/favoris">
      <mat-icon>favorite</mat-icon>
      <span>FAVORI</span>
    </button>
    <button mat-button routerLink="/conversations">
      <mat-icon>message</mat-icon>
      <span>MESSAGES</span>
    </button>
    <button mat-button routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
      <span>PROFILE</span>
    </button>
    <button mat-button (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>LOGOUT</span>
    </button>
  </div>
</mat-toolbar>
<div class="ligne"></div>
