.logo {
  height: 40px;
  margin-right: 16px;
}
.spacer {
  flex: 1 1 auto;
}
button {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
}
mat-icon {
  margin-bottom: -8px;
}
.ligne {
  margin-top: -8px;
  background-color: rgb(19, 10, 10);
  border: 1px solid rgba(19, 10, 10, 0.76);
}
.menu-button {
  display: none;
}
.nav-items{
  display: flex;
}
@media (max-width: 768px) {
  .menu-button {
    display: block;
    width: 20%;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1000;
  }
  .nav-items.show-menu {
    display: flex;
  }
  button {
    width: 40%;
    justify-content: flex-start;
  }
  span {
    font-size: 14px;
  }
}
