<div class="footer">
  <div class="div">
    <div class="div-2">
      <div class="div-3">
        <div class="column">
          <div class="transformez-vos-transactions-d-occasion-des-maintenant">
            Transformez Vos Transactions d'Occasion Dès Maintenant
          </div>
        </div>
        <div class="column-2"><div class="se-connecter">se connecter</div></div>
      </div>
    </div>
    <div class="div-4">
      <div class="div-5">
        <div class="column-3">
          <div class="div-6">
            <div class="information">Information</div>
            <div
              class="nous-offrons-une-plateforme-facile-a-utiliser-pour-acheter-et-vendre-des-articles-doccasion-profitez-de-notre-service-securise-et-de-notre-interface-conviviale-pour-transformer-vos-objets-inutilises-en-tresors"
            >
              Nous offrons une plateforme facile à utiliser pour acheter et
              vendre des articles d'occasion. Profitez de notre service sécurisé
              et de notre interface conviviale pour transformer vos objets
              inutilisés en trésors.
            </div>
            <div class="div-7">
              <div><img src="assets/" alt=""></div>
              <div><img src="assets/" alt=""></div>
              <div><img src="assets/" alt=""></div>
              <div><img src="assets/" alt=""></div>
            </div>
          </div>
        </div>
        <div class="column-4">
          <div class="div-8">
            <div class="navigation">Navigation</div>
            <div class="div-9"  style="display: flex">
              <div class="A">></div>
              <div class="accueil">Accueil</div>
            </div>
            <div class="div-10" style="display: flex">
              <div class="A--">></div>
              <div class="se-connecter-2">se connecter</div>
            </div>
          </div>
        </div>
        <div class="column-5">
          <div class="div-11">
            <div class="contact-us">Contact Us</div>
            <div class="div-12">
              <div class=""></div>
              <div class="lumbung-hidup-east-java">Lumbung Hidup East Java</div>
            </div>
            <div class="div-13">
              <div class=""></div>
              <div class="hello-homco-com">Hello&#64;Homco.com</div>
            </div>
            <div class="div-14">
              <div class="email-address">Email Address</div>
              <div class="div-15"></div>
            </div>
            <div class="subscribe">Subscribe</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

