<div *ngFor="let livraison of livraisons">
  <h2>Livraison {{ livraison.id }}</h2>
  <p>Adresse Vendeur: {{ livraison.adresseVendeur }}</p>
  <p>Adresse Acheteur: {{ livraison.adresseAcheteur }}</p>
  <p>Date Livraison: {{ livraison.dateLivraison | date }}</p>
  <p>Montant: {{ livraison.montant }} €</p>

  <!-- Parcourir les annonces associées à cette livraison -->
  <div *ngIf="livraison.annonces && livraison.annonces.length > 0">
    <h3>Annonces dans cette livraison:</h3>
    <ul>
      <li *ngFor="let annonce of livraison.annonces">
        Titre de l'annonce: {{ annonce.title }}
      </li>
    </ul>
  </div>
  <div *ngIf="!livraison.annonces || livraison.annonces.length === 0">
    <p>Aucune annonce associée à cette livraison.</p>
  </div>
</div>
