.footer-container {
  background-color: rgba(19, 10, 10, 0.8);
  color: white;
  margin-top: 30px;
}
.top-banner {
  background-color:#e57418;
  width: 80%;
  margin-left: 100px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-banner h2 {
  margin: 0;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.information, .navigation, .contact-us {
  flex: 1;
  margin-right: 20px;
}
.social-icons {
  margin-top: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: white;
  text-decoration: none;
}
mat-form-field {
  width: 100%;
}
