<footer class="footer-container">

  <div class="footer-content">
    <div class="information">
      <h3>INFORMATION</h3>
      <p>Nous offrons une plateforme facile à utiliser pour acheter et vendre des articles d'occasion. Profitez de notre service sécurisé et de notre interface conviviale pour transformer vos objets inutilisés en trésors.</p>
      <div class="social-icons">
        <a href="#" mat-icon-button><img src="assets/icons8-facebook-50.png" alt="facebook"></a>
        <a href="#" mat-icon-button><img src="assets/icons8-twitter-50.png" alt="twitter"></a>
        <a href="#" mat-icon-button><img src="assets/icons8-instagram-48.png" alt="instagram"></a>
        <a href="#" mat-icon-button><img src="assets/icons8-linkedin-50.png" alt="linkedin"></a>
      </div>
    </div>
    <div class="navigation">
      <h3>NAVIGATION</h3>
      <ul>
        <li><mat-icon style="margin-bottom: -6px">home</mat-icon><a routerLink="/" style="margin-left: 6px">Accueil </a></li>
        <li><mat-icon style="margin-bottom: -6px">login</mat-icon><a routerLink="/login" style="margin-left: 6px">Se connecter</a></li>
      </ul>
    </div>
    <div class="contact-us">
      <h3>CONTACT US</h3>
      <p><mat-icon>location_on</mat-icon> Lumbung Hidup East Java</p>
      <p><mat-icon>email</mat-icon> Hello&#64;Homco.com</p>
      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" placeholder="Entrez votre email">
      </mat-form-field>
      <button mat-raised-button color="primary">SUBSCRIBE</button>
    </div>
  </div>
</footer>
