<div class="livraison-list">
  <h2>Liste des Livraisons</h2>
  <table mat-table [dataSource]="livraisons" class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let livraison"> {{ livraison.id }} </td>
    </ng-container>

    <!-- Adresse Vendeur Column -->
    <ng-container matColumnDef="adresseVendeur">
      <th mat-header-cell *matHeaderCellDef> Adresse Vendeur </th>
      <td mat-cell *matCellDef="let livraison"> {{ livraison.adresseVendeur }} </td>
    </ng-container>

    <!-- Adresse Acheteur Column -->
    <ng-container matColumnDef="adresseAcheteur">
      <th mat-header-cell *matHeaderCellDef> Adresse Acheteur </th>
      <td mat-cell *matCellDef="let livraison"> {{ livraison.adresseAcheteur }} </td>
    </ng-container>

    <!-- Montant Column -->
    <ng-container matColumnDef="montant">
      <th mat-header-cell *matHeaderCellDef> Montant </th>
      <td mat-cell *matCellDef="let livraison"> {{ livraison.montant }} </td>
    </ng-container>

    <!-- Statut Column -->
    <ng-container matColumnDef="statut">
      <th mat-header-cell *matHeaderCellDef> Statut </th>
      <td mat-cell *matCellDef="let livraison"> {{ livraison.statut }} </td>
    </ng-container>

    <!-- Action (Assigner Livreur) Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Assigner Livreur </th>
      <td mat-cell *matCellDef="let livraison">
        <ng-container *ngIf="livraison.livreur; else assignButton">
          <span>Déjà Assigné</span>
        </ng-container>
        <ng-template #assignButton>
          <select (change)="onSelectLivreur(livraison.id, $event)">
            <option value="" disabled selected>Choisir un livreur</option>
            <option *ngFor="let livreur of livreurs" [value]="livreur.id">{{ livreur.username }}</option>
          </select>
        </ng-template>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
