
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/3965548/pexels-photo-3965548.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 30px;
}

.form-container {
  background-color: rgba(255, 253, 253, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 320px;
  transition: transform 0.3s ease-in-out;
}

.slide-left {
  transform: translateX(-20px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

mat-card-title {
  color: #e57418;;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}



.error-message {
  color: red;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
}

button[type="submit"] {
  width: 100%;
  margin-top: 15px;
  background-color: #e57418;;
  color: white;
}

button[mat-button] {
  margin-top: 10px;
  color: #50489D;;
  font-size: 14px;
}

